@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
    <body>
        <div class="card" style="width:200px">
            <h4 class="card-title">title</h4>
            <img class="card-img-top" src="https://www.w3schools.com/bootstrap5/img_avatar5.png">
            <div class="card-body">
                <p class="card-text">blablabla</p>
            </div>
      </div>
    </body>
</html>