@{
    ViewData["Title"] = "Home Page";
    Dictionary<string, string> infoCol = new Dictionary<string, string>()
    {
        {"Col1", "blabla"},
        {"Col2", "blablablabla"},
        {"Col3", "blablablablablabla"}
    };
}

<html lang="en">
    <body>
        <div class="jumbotron text-center">
            <h1>Dubo Martial Arts</h1>
        </div>

        <div class="container">
            <div class="row">
                @foreach (var info in infoCol)
                {
                    <div class="col-sm-4">
                        <h3 class="display-4">@info.Key</h3>
                        <hr />
                        <p>@info.Value</p>
                    </div>
                }
            </div>
        </div>

        
    </body>
</html>